<div class="row">
  <dl id="contact">
    <dt><span></span>Mail</dt>
    <dd>cyril.gravelier@gmail.com</dd>

    <dt><span></span>Téléphone</dt>
    <dd>+33 6 87 90 79 63</dd>

    <dt><span></span>Skype</dt>
    <dd>
      <a href="callto:cyril.gravelier">cyril.gravelier</a>
    </dd>

    <dt><span></span>Facebook</dt>
    <dd>
      <a href="http://www.facebook.com/magiccyril">facebook.com/magiccyril</a>
    </dd>

    <dt><span></span>Twitter</dt>
    <dd>
      <a href="http://twitter.com/magiccyril">@magiccyril</a>
    </dd>

    <dt><span></span>IM</dt>
    <dd>Gtalk / Jabber : magiccyril@gmail.com</dd>
  </dl>
</div>