<article id="contact" class="row">
  <h2>Contact</h2>
  <section class="span4">
    <h3>Mail</h3>
    <div class="contact-logo-wrapper">
      <div id="contact-mail" class="contact-logo"></div>
      <div id="contact-mail-reflect" class="contact-logo-reflect"></div>
    </div>
    <div class="contact-details">
      <span class="arrow"></span>
      <dl>
        <dt>Mail</dt>
        <dd>
          <ul>
            <li><a href="http://18ruedivona.eu/contact">Formulaire de contact</a></li>
            <li>
              <span class="spam"><span class="u">cyril.gravelier</span>[at]<span class="d">gmail.com</span>
            </li>
          </ul>
        </dd>

        <dt><abbr title="Instant Messaging" lang="en">I.M.</abbr></dt>
        <dd>
          <span class="spam"><span class="u">magiccyril</span>[at]<span class="d">gmail.com</span>
        </dd>
      </dl>
    </div>
  </section>

  <section class="span4">
    <h3>Téléphone</h3>
    <div class="contact-logo-wrapper">
      <div id="contact-phone" class="contact-logo"></div>
      <div id="contact-phone-reflect" class="contact-logo-reflect"></div>
    </div>
    <div class="contact-details">
      <span class="arrow"></span>
      <dl>
        <dt>Téléphone</dt>
        <dd>+33 6 87 90 79 63</dd>
        <dd>+33 7 62 67 58 06</dd>

        <dt>Skype</dt>
        <dd><a href="callto:cyril.gravelier">cyril.gravelier</a></dd>
      </dl>
    </div>
  </section>

  <section class="span4">
    <h3>Twitter</h3>
    <div class="contact-logo-wrapper">
      <div id="contact-twitter" class="contact-logo"></div>
      <div id="contact-twitter-reflect" class="contact-logo-reflect"></div>
    </div>
    <div class="contact-details">
      <span class="arrow"></span>
      <dl>
        <dt>Twitter</dt>
        <dd>
          <iframe
            allowtransparency="true"
            frameborder="0"
            scrolling="no"
            src="//platform.twitter.com/widgets/follow_button.html?screen_name=magiccyril&amp;show_count=false"
            style="width:220px; height:20px;"></iframe>
        </dd>
      </dl>
    </div>
  </section>

  <section class="span4">
    <h3>Facebook</h3>
    <div class="contact-logo-wrapper">
      <div id="contact-facebook" class="contact-logo"></div>
      <div id="contact-facebook-reflect" class="contact-logo-reflect"></div>
    </div>
    <div class="contact-details">
      <span class="arrow"></span>
      <dl>
        <dt>Facebook</dt>
        <dd class="center">
          <p><a href="http://fr-fr.facebook.com/magiccyril" title="Cyril Gravelier">facebook.com/magiccyril</a></p>
          <p><a href="http://fr-fr.facebook.com/magiccyril" title="Cyril Gravelier">
            <img src="http://badge.facebook.com/badge/855925462.5078.49615752.png" style="border: 0px;" />
          </a></p>
        </dd>
      </dl>
    </div>
  </section>
</article>