<!DOCTYPE html>
<html xmlns:foaf="http://xmlns.com/foaf/0.1/">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <link rel="foaf:primaryTopic foaf:maker" href="#me" />

  <title><%= title %></title>
</head>
<body id="cv">
  <%- partial('_topbar') %>

  <div class="container">
    <header id="header" class="row vcard" itemscope itemtype="http://data-vocabulary.org/Person" typeof="foaf:Person" about="#me">
      <div class="media-grid span3">
        <a href="/" class="tooltip" title="Salut !">
          <img class="thumbnail photo" src="http://www.gravatar.com/avatar/2f9e679e419b245e05e6f7bf6606499a?size=90" alt="Photo Cyril Gravelier" itemprop="photo" />
        </a>
      </div>
      <hgroup class="span8">
        <h1 class="fn" itemprop="name" property="foaf:name">Cyril Gravelier</h1>
        <h2 class="title" itemprop="title">Consultant Web</h2>
      </hgroup>
      <aside class="span4">
        <ul class="social-links">
          <li><a class="social-icon icon-twitter tooltip" href="http://twitter.com/magiccyril" title="Twitter"><span></span>twitter</a></li>
          <li><a class="social-icon icon-facebook tooltip" href="http://facebook.com/magiccyril" title="Facebook"><span></span>facebook</a></li>
          <li><a class="social-icon icon-linkedin tooltip" href="http://www.linkedin.com/profile/view?id=11471023" title="Linkedin"><span></span>linkedin</a></li>
          <li><a class="social-icon icon-github tooltip" href="http://github.com/magiccyril" title="GitHub"><span></span>github</a></li>
          <li><a class="social-icon icon-skype tooltip" href="callto:cyril.gravelier" title="Skype"><span></span>skype</a></li>
          <li><a class="social-icon icon-flickr tooltip" href="http://www.flickr.com/magiccyril" title="Flickr"><span></span>flickr</a></li>
        </ul>
        <ul class="unstyled">
          <li>
            <span class="spam email">
            <span class="u">cyril.gravelier</span>[at]<span class="d">gmail.com</span>
          </li>
          <li class="tel" property="foaf:phone">+33 6 87 90 79 63</li>
          <li><a class="url" href="http://cyrilgravelier.fr" rel="foaf:homepage">cyrilgravelier.fr</a></li>
        </ul>
      </aside>
    </header>

    <section class="row">
      <div class="span4 offset1">
        <h2>Motivation</h2>
      </div>
      <div class="span10">
        <p class="summary">Geek et passionné, je suis aujourd’hui à la recherche de nouveaux défis. J’aime mon métier, et je souhaite trouver l’entreprise qui me permettra de m’exprimer pleinement. Curieux, je prends plaisir à apprendre, me documenter, et acquérir de nouvelles connaissances. J’apprécie également de partager ces expériences.</p>
      </div>
    </section>

    <section id="experience" class="row">
      <div class="span4 offset1">
        <h2>Expériences</h2>
      </div>
      <div class="span10">
        <article>
          <hgroup>
            <h5><abbr title="Mars">Mar.</abbr> 2011 &rarr; maintenant</h5>
            <h3 lang="en">Web Developer</h3>
            <h4>Quiksilver Europe</h4>
          </hgroup>

          <ul>
            <li>Migration de la <strong>plateforme e-commerce</strong> sous DemandWare</li>
            <li>Création du <strong>Heat Review</strong> de Quiksilver</li>
            <li>Refonte de sites marketing</li>
          </ul>

          <div class="company-logo company-logo-quiksilver"></div>
        </article>

        <article>
          <hgroup>
            <h5><abbr title="Novembre">Nov.</abbr> 2009 &rarr; maintenant</h5>
            <h3>Vacataire</h3>
            <h4>IUT Informatique de l'Université Bordeaux I</h4>
          </hgroup>

          <ul>
            <li><strong>Élaboration et animation de cours</strong> en Licence professionnelle</li>
            <li>Cours de Web : HTML, CSS, Javascript et jQuery</li>
          </ul>

          <div class="company-logo company-logo-iut"></div>
        </article>


        <article>
          <hgroup>
            <h5><abbr title="Octobre">Otc.</abbr> 2008 &rarr; <abbr title="Mars">Mar.</abbr> 2011</h5>
            <h3>Consultant Web</h3>
            <h4 lang="en">Clever Age</h4>
          </hgroup>

          <ul>
            <li>
              <strong>Expertise Drupal</strong> (
                <abbr title="Communauté Urbaine de Bordeaux">CUB</abbr>
                , Mairie de Bordeaux
                , Aéroport de Bordeaux
                , InfoTBC
                , &hellip;
              )
            </li>
            <li>Mission de conseil</li>
            <li>Chef de projet <strong>technique</strong></li>
            <li>Animation de formations</li>
            <li>Encadrement de stagiaires</li>
            <li>Développement Web : Drupal, Symfony</li>
          </ul>

          <div class="company-logo company-logo-cleverage"></div>
        </article>

        <article>
          <hgroup>
            <h5><abbr title="Octobre">Otc.</abbr> 2007 &rarr; <abbr title="Septembre">Sep.</abbr> 2008</h5>
            <h3>Développeur Web (en alternance)</h3>
            <h4>Systonic</h4>
          </hgroup>

          <ul>
            <li>Intégration de CMS (Drupal, Joomla, et CMS interne)</li>
            <li>Intégration graphique</li>
            <li>Développement de modules, et d'outils spécifiques</li>
            <li>Encadrement de stagiaires</li>
          </ul>

          <div class="company-logo company-logo-systonic"></div>
        </article>

        <article>
          <hgroup>
            <h5><abbr title="Avril">Avr.</abbr> 2007 &rarr; <abbr title="Juin">Jui.</abbr> 2007</h5>
            <h3>Stage de fin de <abbr title="Diplome Universitaire Technologique">DUT</abbr></h3>
            <h4>XiTi (AT Internet)</h4>
          </hgroup>

          <ul>
            <li>Développement de modules complémentaires</li>
          </ul>

          <div class="company-logo company-logo-atinternet"></div>
        </article>

        <article class="last-item">
          <hgroup>
            <h5><abbr title="Octobre">Oct.</abbr> 2006 &rarr; <abbr title="Avril">Avr.</abbr> 2007</h5>
            <h3>Développeur Web</h3>
            <h4>WAAM Group</h4>
          </hgroup>

          <ul>
            <li>Création d'une plateforme de vente d'œuvres d'art.</li>
          </ul>
        </article>

      </div>
    </section>

    <section id="skills" class="row">
      <div class="span4 offset1">
        <h2>Compétences</h2>
      </div>

      <div class="span10">
        <div class="row">
          <article class="span5">
            <h3>Mode d’emploi</h3>
            <p>Ce n’est pas évident mais j’ai essayé d’<strong>évaluer mes compétences</strong> à propos de certains domaines, technologies. N’y voyez aucune prétention, mais plutôt mon <strong>niveau de confort</strong> vis-à-vis de ces sujets.</p>
            <p class="no-print">Je vous invite à <strong>survoler</strong> avec votre souris certaines lignes pour avoir une description.</p>
          </article>

          <article class="span5">
            <h3>Project Management</h3>
            <table>
              <tr>
                <td class="skill-title">Gestion de projet</td>
                <td class="stars"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">Méthodes Agiles</td>
                <td class="stars tooltip" title="Après quelques expériences professionnelles, je suis en train d'apprendre et me documenter sur ce sujet."><span class="stars2"></span>2/5</td>
              </tr>
              <tr>
                <td class="skill-title">Assurance Qualité</td>
                <td class="stars tooltip" title="Test, revue de code, &hellip;"><span class="stars4"></span>4/5</td>
              </tr>
              <tr>
                <td class="skill-title">Gestion d'équipe</td>
                <td class="stars"><span class="stars3"></span>3/5</td>
              </tr>
            </table>
          </article>
        </div>

        <div class="row">
          <article class="span5">
            <h3>Frontend</h3>
            <table>
              <tr>
                <td class="skill-title">HTML</td>
                <td class="stars tooltip" title="(x)html, html 5"><span class="stars5"></span>5/5</td>
              </tr>
              <tr>
                <td class="skill-title">CSS</td>
                <td class="stars tooltip" title="CSS 3, Sass / Compass, Less, Blueprint, &hellip;"><span class="stars5"></span>5/5</td>
              </tr>
              <tr>
                <td class="skill-title">Javascript</td>
                <td class="stars tooltip" title="jQuery, API HTML, &hellip;"><span class="stars4"></span>4/5</td>
              </tr>
              <tr>
                <td class="skill-title">Sémantique</td>
                <td class="stars tooltip" title="RDFa, Microformats, Aria"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">Accessibilité</td>
                <td class="stars tooltip" title="'Whatever the device you use for getting your information out, it should be the same information.' ~ Tim Berners-Lee"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">Référencement</td>
                <td class="stars tooltip" title="Relève un peu du domaine du mystique"><span class="stars2"></span>2/5</td>
              </tr>
            </table>
          </article>

          <article class="span5">
            <h3>Backend</h3>
            <table>
              <tr>
                <td class="skill-title">PHP</td>
                <td class="stars"><span class="stars5"></span>5/5</td>
              </tr>
              <tr>
                <td class="skill-title">Node.js</td>
                <td class="stars tooltip" title="Hey, ce site tourne avec ça !"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">Python</td>
                <td class="stars tooltip" title="Le prochain framework que j'apprends, et avec lequel je m'amuse : Django"><span class="stars1"></span>1/5</td>
              </tr>
              <tr>
                <td class="skill-title">ASP / .Net</td>
                <td class="stars"><span class="stars2"></span>2/5</td>
              </tr>
            </table>
          </article>
        </div>

        <div class="row">
          <article class="span5">
            <h3>CMS / Framework</h3>
            <table>
              <tr>
                <td class="skill-title">Drupal</td>
                <td class="stars tooltip" title="Aéroport de Bordeaux, InfoTBC, la CUB, sites culturelles de la mairie de Bordeaux : c'est Clever Age et moi !"><span class="stars5"></span>5/5</td>
              </tr>
              <tr>
                <td class="skill-title">Symfony</td>
                <td class="stars"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">Django</td>
                <td class="stars tooltip" title="@todo s'amuser avec Django"><span class="stars1"></span>1/5</td>
              </tr>
              <tr>
                <td class="skill-title">Code Igniter</td>
                <td class="stars"><span class="stars2"></span>2/5</td>
              </tr>
              <tr>
                <td class="skill-title">Wordpress</td>
                <td class="stars"><span class="stars2"></span>2/5</td>
              </tr>
              <tr>
                <td class="skill-title">eZ Publish</td>
                <td class="stars tooltip"><span class="stars1"></span>1/5</td>
              </tr>
              <tr>
                <td class="skill-title">Joomla</td>
                <td class="stars tooltip" title="On a tous fait un Joomla une fois dans sa vie !"><span class="stars2"></span>2/5</td>
              </tr>
              <tr>
                <td class="skill-title">Magento</td>
                <td class="stars tooltip" title="Je manque d'expérience sur Magento"><span class="stars1"></span>1/5</td>
              </tr>
              <tr>
                <td class="skill-title">Facebook</td>
                <td class="stars"><span class="stars2"></span>2/5</td>
              </tr>
            </table>
          </article>

          <article class="span5">
            <h3>Mobile</h3>
            <table>
              <tr>
                <td class="skill-title">Android</td>
                <td class="stars"><span class="stars3"></span>3/5</td>
              </tr>
              <tr>
                <td class="skill-title">iOS / Objective C</td>
                <td class="stars"><span class="stars1"></span>1/5</td>
              </tr>
            </table>
          </article>

          <article class="span5">
            <h3>Databases</h3>
            <table>
              <tr>
                <td class="skill-title">SQL</td>
                <td class="stars tooltip" title="SELECT * FROM cv WHERE stars > 5"><span class="stars4"></span>4/5</td>
              </tr>
              <tr>
                <td class="skill-title">No-SQL</td>
                <td class="stars tooltip" title="SET nosql-skills '2' <br/> INCR nosql-skills"><span class="stars2"></span>2/5</td>
              </tr>
            </table>
          </article>

          <article class="span5">
            <h3>SCM</h3>
            <table>
              <tr>
                <td class="skill-title">SVN</td>
                <td class="stars"><span class="stars2"></span>2/5</td>
              </tr>
              <tr>
                <td class="skill-title">Git</td>
                <td class="stars tooltip" title="github.com/magiccyril"><span class="stars3"></span>3/5</td>
              </tr>
            </table>
          </article>
        </div>
      </div>
    </section>

    <section id="study" class="row">
      <div class="span4 offset1">
        <h2>Formations</h2>
      </div>
      <div class="span10">

        <table>
          <colgroup>
            <col class="study-diplom" />
            <col class="study-institute" />
            <col class="study-year" />
          </colgroup>
          <tr class="first-item">
            <td>
              Licence professionnelle<br/>
              Assistant chef de projet
            </td>
            <td>IUT Informatique de Bordeaux I</td>
            <td class="center">2007 - 2008</td>
          </tr>
          <tr>
            <td>
              DUT Informatique
            </td>
            <td>IUT Informatique de Bordeaux I</td>
            <td class="center">2005 - 2007</td>
          </tr>
          <tr>
            <td>
              1ère année DEUG<br/>
              Sciences <abbr title="économique">éco</abbr> et de gestion
            </td>
            <td>Université Bordeaux IV Monstesqieu</td>
            <td class="center">2003 - 2005</td>
          </tr>
          <tr>
            <td>
              Baccalauréat<br/>
              Série ES
            </td>
            <td>Lycée Sud Médoc - Le Taillan (33)</td>
            <td class="center">2003</td>
          </tr>
        </table>
    </section>

    <footer id="footer" class="row">
      <div class="media-grid span3">
        <a href="/qr">
          <img class="thumbnail" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=90x90&amp;chl=http%3A//cyrilgravelier.fr/qr&amp;chld=Q|0" alt="" />
        </a>
      </div>
      <article class="span9">
        <h3>Informations personnelles</h3>
        <ul>
          <li><span property="foaf:age"><%= age %></span> ans, titulaire du permis B</li>
          <li>Réalisation de projets perso : <a href="http://tempo.18ruedivona.eu">Tempo</a>, <a href="http://github.com/magiccyril/Divona-standings">Fifa Standings</a>, etc. <a href="http://github.com/magiccyril">voir GitHub</a></li>
          <li>Passionné de photographie, et sport (Basket, Vélo, Natation, Tennis, Surf, &hellip;)</li>
          <li>Curieux, ambitieux, passionné, rigoureux, maniaque, (psychorigide ?)</li>
        </ul>
      </article>

      <aside class="span3">
        <ul class="social-links">
          <li><a class="social-icon icon-twitter tooltip" href="http://twitter.com/magiccyril" title="Twitter"><span></span>twitter</a></li>
          <li><a class="social-icon icon-facebook tooltip" href="http://facebook.com/magiccyril" title="Facebook"><span></span>facebook</a></li>
          <li><a class="social-icon icon-flickr tooltip" href="http://www.flickr.com/magiccyril" title="Flickr"><span></span>flickr</a></li>
          <li><a class="social-icon icon-github tooltip" href="http://github.com/magiccyril" title="GitHub"><span></span>github</a></li>
          <li><a class="social-icon icon-linkedin tooltip" href="http://www.linkedin.com/profile/view?id=11471023" title="Linkedin"><span></span>linkedin</a></li>
          <li><a class="social-icon icon-skype tooltip" href="callto:cyril.gravelier" title="Skype"><span></span>skype</a></li>
          <li><a class="social-icon icon-delicious tooltip" href="http://delicious.com/magiccyril" title="Delicious"><span></span>delicious</a></li>
          <li><a class="social-icon icon-foursquare tooltip" href="http://foursquare.com/magiccyril" title="Foursquare"><span></span>foursquare</a></li>
          <li><a class="social-icon icon-lastfm tooltip" href="http://www.lastfm.fr/user/MagiCCyriL" title="Last.fm"><span></span>last.fm</a></li>
          <li><a class="social-icon icon-googleplus tooltip" href="http://plus.google.com/101710727684037680756" title="Google +"><span></span>google+</a></li>
          <li><a class="social-icon icon-tumblr tooltip" href="http://magiccyril.tumblr.com/" title="Tumblr"><span></span>tumblr</a></li>
          <li><a class="social-icon icon-youtube tooltip" href="http://www.youtube.com/user/magiccyril" title="Youtube"><span></span>youtube</a></li>
        </ul>
      </aside>
    </footer>
  </div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>
  <script defer src="javascripts/libs/bootstrap-twipsy.js"></script>
  <script defer src="javascripts/script.js"></script>

  <%- partial('_analytics')%>
</body>
</html>