<div class="row" id="cards">
  <section id="card-cv" class="span-one-third card">
    <h2><abbr title="Curiculum Vitæ">CV</abbr></h2>
    <ul>
      <li><a href="/cv">Visualiser en ligne</a></li>
      <li><a href="">Télécharger (.pdf)</a></li>
    </ul>
  </section>

  <section id="card-projects" class="span-one-third card">
    <h2>Projets</h2>
    <ul>
      <li><a href="/projects">Projets</a></li>
      <li><a href="http://github.com/magiccyril">Open source (@github)</a></li>
    </ul>
  </section>

  <section id="card-contact" class="span-one-third card">
    <h2>Contact</h2>
    <ul>
      <li><a href="/contact">Me contacter</a></li>
    </ul>
  </section>
</div>