<div class="row" id="cards">
  <section id="card-cv" class="span-one-third card">
    <h2><abbr title="Curiculum Vitæ">CV</abbr></h2>
    <ul>
      <li><a href="/cv">Visualiser en ligne</a></li>
      <li><a href="/cv#print">Imprimer</a></li>
    </ul>
  </section>
  <div class="card-shadow" id="card-shadow-cv"></div>
  <div class="reflexion" id="reflexion-card-cv"></div>

  <section id="card-projects" class="span-one-third card">
    <h2>18 rue<br/> divona</h2>
    <div class="description">
      <p>Tous mes projets (Web, photo) sont centralisés sur un même site : 18 rue divona.</p>
    </div>
    <ul>
      <li><a href="http://18ruedivona.eu">accéder à 18 rue divona</a></li>
    </ul>
  </section>
  <div class="card-shadow" id="card-shadow-projects"></div>
  <div class="reflexion" id="reflexion-card-projects"></div>

  <section id="card-contact" class="span-one-third card">
    <h2>Contact</h2>
    <ul>
      <li><a href="/contact">Me contacter</a></li>
    </ul>
  </section>
  <div class="card-shadow" id="card-shadow-contact"></div>
  <div class="reflexion" id="reflexion-card-contact"></div>
</div>