@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .no-print,
  .topbar,
  .social-links {
    display: none;
  }

  #cv {
    #header {
      padding: 0 1em;
    }
    #footer {
      border-bottom: 0;
      padding: 1em 1em 0;

      .media-grid a {
        margin-bottom: 0;
      }

      ul {
        margin-bottom: 0;
      }
    }

    section {
      padding: 10px 0 0;
    }

    #experience, #study {
      article {
        margin-bottom: 20px;
        padding-bottom: 0;
      }
      h4 {
        margin-bottom: 12px;
      }
      h5 {
        font-style: italic;
        margin-right: 32px;
      }
    }
    #study {
      td {
        height: auto;
        padding: 5px 10px;
      }
      .first-item td {
        padding: 0 10px 5px;
      }
    }

    #skills {
      page-break-before: always;

      table {
        margin-bottom: 0;
      }

      .stars {
        .stars0
        , .stars1
        , .stars2
        , .stars3
        , .stars4
        , .stars5 {
          display: none;
        }
      }
    }
  }
}