@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .social-links,
  .topbar,
  .stars5,
  .stars4,
  .stars3,
  .stars2,
  .stars1,
  .stars0 {
    display: none;
  }
  #cv #header {
    padding: 0 1em;
  }
  #cv #footer {
    border-bottom: 0;
    padding: 1em 1em 0;
  }
  #cv #footer .media-grid a {
    margin-bottom: 0;
  }
  #cv section {
    padding: 10px 0 0;
  }
  #cv #experience article, #cv #study article {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  #cv #experience h4, #cv #study h4 {
    margin-bottom: 12px;
  }
  #cv #skills {
    page-break-before: always;
  }
  #cv #skills .stars .stars0,
  #cv #skills .stars .stars1,
  #cv #skills .stars .stars2,
  #cv #skills .stars .stars3,
  #cv #skills .stars .stars4,
  #cv #skills .stars .stars5 {
    display: none;
  }
}
